

element.style {
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
div, input, input[type=submit]:focus, textarea {
    outline: 0;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.bg-white {
    background: #fff;
    color: #666;
}
@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}
body {
    overflow-x: hidden;
    position: relative;
    font-family: open sans, pt sans, sans-serif !important;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    background-color: #fff;
    color: #616161;
}
body {
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

:root {
    --hsds-attachment-color-removeButton-hover: var(--hsds-color-pink-1000);
    --hsds-attachment-color-removeButton-borderHover: var(--hsds-color-pink-900);
    --hsds-attachment-color-error: var(--hsds-color-red-500);
    --hsds-badge-color-default: var(--hsds-color-charcoal-200);
    --hsds-button-color-blue-main: var(--hsds-color-blue-500);
    --hsds-button-color-blue-hover: var(--hsds-color-blue-600);
    --hsds-button-color-blue-text: white;
    --hsds-button-color-blue-outline-border: var(--hsds-color-blue-500);
    --hsds-button-color-blue-outline-borderHover: var(--hsds-color-blue-500);
    --hsds-button-color-blue-outline-text: var(--hsds-color-blue-600);
    --hsds-button-color-blue-outline-textHover: var(--hsds-color-blue-700);
    --hsds-button-color-blue-outline-hover: var(--hsds-color-blue-100);
    --hsds-button-color-blue-outline-hoverIconOnly: var(--hsds-color-blue-200);
    --hsds-button-color-blue-outline-textSeamlessHover: var(--hsds-color-blue-800);
    --hsds-button-color-red-main: var(--hsds-color-pink-950);
    --hsds-button-color-red-hover: var(--hsds-color-pink-1000);
    --hsds-button-color-red-text: white;
    --hsds-button-color-red-outline-border: var(--hsds-color-pink-900);
    --hsds-button-color-red-outline-borderHover: var(--hsds-color-pink-900);
    --hsds-button-color-red-outline-text: var(--hsds-color-pink-950);
    --hsds-button-color-red-outline-textHover: var(--hsds-color-pink-1000);
    --hsds-button-color-red-outline-hover: var(--hsds-color-pink-100);
    --hsds-button-color-red-outline-hoverIconOnly: var(--hsds-color-pink-200);
    --hsds-button-color-red-outline-textSeamlessHover: var(--hsds-color-pink-1000);
    --hsds-button-color-green-main: var(--hsds-color-green-750);
    --hsds-button-color-green-hover: var(--hsds-color-green-800);
    --hsds-button-color-green-text: white;
    --hsds-button-color-green-outline-border: var(--hsds-color-green-500);
    --hsds-button-color-green-outline-borderHover: var(--hsds-color-green-500);
    --hsds-button-color-green-outline-text: var(--hsds-color-green-750);
    --hsds-button-color-green-outline-textHover: var(--hsds-color-green-800);
    --hsds-button-color-green-outline-hover: var(--hsds-color-green-100);
    --hsds-button-color-green-outline-hoverIconOnly: var(--hsds-color-green-200);
    --hsds-button-color-green-outline-textSeamlessHover: var(--hsds-color-green-900);
    --hsds-button-color-grey-main: var(--hsds-color-charcoal-400);
    --hsds-button-color-grey-hover: var(--hsds-color-charcoal-500);
    --hsds-button-color-grey-text: white;
    --hsds-button-color-grey-outline-border: var(--hsds-color-grey-700);
    --hsds-button-color-grey-outline-borderHover: var(--hsds-color-grey-800);
    --hsds-button-color-grey-outline-text: var(--hsds-color-charcoal-400);
    --hsds-button-color-grey-outline-textHover: var(--hsds-color-charcoal-500);
    --hsds-button-color-grey-outline-hover: var(--hsds-color-grey-200);
    --hsds-button-color-grey-outline-hoverIconOnly: var(--hsds-color-grey-300);
    --hsds-button-color-grey-outline-textSeamlessHover: var(--hsds-color-charcoal-800);
    --hsds-button-color-yellow-main: var(--hsds-color-orange-600);
    --hsds-button-color-yellow-hover: var(--hsds-color-orange-700);
    --hsds-button-color-yellow-text: white;
    --hsds-button-color-yellow-outline-border: var(--hsds-color-yellow-400);
    --hsds-button-color-yellow-outline-borderHover: var(--hsds-color-yellow-400);
    --hsds-button-color-yellow-outline-text: var(--hsds-color-orange-600);
}

@media (max-height: 740px) {
    :root {
        --hs-beacon-v-offset: 10px;
        --hs-beacon-h-offset-right: 20px;
    }
}

:root {
    --hs-beacon-v-offset: 40px;
    --hs-beacon-h-offset-right: 40px;
    --hs-beacon-h-offset-left: initial;
    --hs-beacon-window-v-offset: calc( var(--hs-beacon-v-offset) + 60px + 15px );
    --hs-beacon-notifications-v-offset: calc( var(--hs-beacon-v-offset) + 60px );
    --hs-beacon-window-h-offset-right: var(--hs-beacon-h-offset-right);
    --hs-beacon-window-h-offset-left: var(--hs-beacon-h-offset-left);
    --hs-beacon-notifications-h-offset-right: calc( var(--hs-beacon-h-offset-right) - 11px );
    --hs-beacon-notifications-h-offset-left: calc( var(--hs-beacon-h-offset-left) - 11px );
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #1c588f;
    color: #fff;
    text-shadow: none;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;


    }

    select {
  font-family: 'fa fa-caret-down'
}